html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #979797;
    background-color: #FFFFFF;
}

a {
    outline: none;
    text-decoration: none;
}

.fl_left {
    float: left;
}

.fl_left a:hover {
    color: #B56D00;
    background-color: #FFFFFF;
}

.fl_right {
    float: right;
}

/* -----------Wrapper---------*/

div.wrapper {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.row3 {
    border-top: 1px solid #DEDEDE;
}

.row3, .row3 a {
    color: #979797;
    background-color: #FFFFFF;
}

/*--------------Footer-----------------*/

#footer {
    padding: 20px 0;
}

#footer p {
    margin: 0;
    padding: 0;
}
